body{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth; 
    overflow-x: hidden;
}

section{
    width:100%;
    overflow: hidden;
}
#box{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:100vh;
}


#section1{
    background-image: url("lost.jpg");
    height : 100vh;
    background-attachment: fixed;
    color:rgb(205, 184, 184);
    font-family: "Bastro",sans-serif;
    font-size: 7vw;
}

h1{
   margin:0;
   padding:0;
   text-align: center;
}

#section2{
    height : 100vh;
    background-color: rgb(255, 255, 255);
    color:rgb(9, 9, 9);
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
    
pre{
    font-size: 2vw;
    font-family: 'Barlow', sans-serif;
}   

#section212{
    display: flex;
    flex-direction: column;
    position: relative;
    margin:0 auto;
    height:90vh;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
}

#p211{
    margin-top: 1vh;
    color: rgb(201, 211, 212);
    text-align: left;
    margin-top: 4vh;
    font-family: 'Whisper';
}

#p212{
    color: rgb(201, 211, 212);
    text-align: left;
    font-family: 'Whisper', sans-serif;
    margin-top: 4vh;
}

#section3{
    display: flex;
    position: relative;
    margin:0 auto;
    height:70vh;
    overflow: hidden;
    justify-content: center;
    
}

#video{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    
}

h3{
    text-align: center;
    color: rgb(201, 211, 212);
    font-family: "Kolyada-UltraLightItalic";
    font-size: 8vw;
    margin-top: 30vh;
}

#section5{
    display: flex;
    background-color: rgb(0, 0, 0);
    height : 100vh;
    color:rgb(255, 255, 255);
    font-family: 'Barlow', sans-serif;
    font-size: 2vw;
}

#h5{
    text-align: center;
    font-size: 2.75vw;
}

#p5{
    font-size: 2vw;
    margin-left: 5vw;
    margin-top: 1vh;
    text-align: left;
}

.textsec3{
    flex: 2;
    flex-direction: column;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content:center;
    overflow-y: hidden;
    overflow-x: hidden;
}

.imgsec3{
    flex:1.25;
    background: url('city.jpg') center/90% no-repeat;
    margin-top: 20vh;
    margin-right: 5vw;
}

#section6{
    display: flex;
    background-color: rgb(0, 0, 0);
    height : 100vh;
    color:rgb(255, 255, 255);
    font-family: 'Barlow', sans-serif;
    font-size: 2vw;
}

#p6{
    font-size: 2vw;
    margin-left: 1vw;
    margin-top: 1vh;
    text-align: left;
}

.imgsec4{
    flex:1.25;
    background: url('green.jpg') center/90% no-repeat;
    margin-left: 5vw;
}

.textsec4{
    flex: 2;
    flex-direction: column;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
    overflow-x: hidden;
}

.imgsec6{
    flex:1.25;
    background: url('amn.jpg') center/90% no-repeat;
    margin-left:5vw;
}

#section7{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    background-color: #000000;
    font-family: 'Roboto', sans-serif;
    color: rgb(255, 255, 255);
    overflow: hidden;
}

.textsec7{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 40%;
    padding: 100px;
    order: 1;
    z-index: 1;
}

.imgsec7{
    position:relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    order: 2;
    z-index: 0;
}

.image{
    padding-right:70px;
    position:absolute;
    width: 30vw;
    height: 50vh;
    object-fit:cover;
    transition:z-index 0.5s;
}

.image1{
    top:20vh;
    left:5vw;
    z-index:3;
}

.image2{
    top:29vh;
    left:9vw;
    z-index:2;
}

.image3{
    top:38vh;
    left:12vw;
    z-index:1;
}

#section8{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(0, 0, 0);
    height : 100vh;
    color:rgb(255, 255, 255);
    font-family: 'Barlow', sans-serif;
    font-size: 2vw;
}

#h8{
    font-size: 2.5vw;
    margin-left:9.89vw;
}

#p8{
    font-size: 2vw;
    margin-top: 3vh;
}

.card-container{
    display:flex;
    justify-content: center;
    gap:8vw;
    flex-wrap: wrap;
}

.card{
    width: calc(45% -10px);
    max-width: 35vw;
    overflow:visible;
    margin: 10px;
    text-align: left;
}

.card img{
    width: 100%;
    height: 40vh;
}

.card-text{
    padding:10px;
}

#section8{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(0, 0, 0);
    height : 100vh;
    color:rgb(255, 255, 255);
    font-family: 'Barlow', sans-serif;
    font-size: 2vw;
}

#p8{
    font-size: 2vw;
}

#section9{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: black;
    background-attachment: fixed;
    height : 120vh;
    color:rgb(255, 255, 255);
    font-family: 'Barlow', sans-serif;  
}

#h9{
    font-size: 3vw;
    text-align: center;
    margin:10px;
    padding: 0;
    
}

#p9{
    text-align: center;
    font-size: 1.25vw;
    margin-top: 7vh;
}

#section10{
    display: flex;
    flex-direction: column;
    background-color: rgb(0, 0, 0);
    font-family: 'Barlow', sans-serif;
}

#h10{
    color: white;
    font-size: 3vw;
    text-align: center;
    margin:40px;
    padding:0;
}

.faq-container {
    max-width: 60vw;
    margin: 20px auto;
}

.question {
    cursor: pointer;
    font-weight: bold;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
    margin-bottom: 10px;
}

.answer {
    display: none;
    padding: 10px;
    border: 1px solid #ccc;
    border-top: none;
    background-color: #fff;
    border-radius: 0 0 5px 5px;
    margin-bottom:10px;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

#finalsection{
    display: flex;
    flex-direction: column;
    height:100vh;
    background-color: rgb(255, 255, 255);
    font-family: 'Barlow', sans-serif;
}

.container2 {
    display: flex;
    justify-content: center;
    width: 80%;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    overflow:hidden;
}


.company-details {
    width: 60%;
    padding-right: 20px;
}

.contact-form {
    width: 40%;
}

form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

form input,
form textarea {
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
}

form button {
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

footer {
    text-align: center;
    background-color: #000000;
    color: #fff;
    padding: 25px;
    width: 100%;
    bottom: 0;
}

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
    color: #333;
}

header {
    background-color: #000000;
    color: #fff;
    text-align: center;
    padding: 50px;
}

#pf{
    font-size: 1.25vw;
}